<footer>
  <div class="footer-copyright">
    <div class="copyright">
      <p>
        &copy; copyright
        <script type="text/JavaScript">
          document.write(new Date().getFullYear())
        </script>
      </p>
    </div>
    <div class="wrapper">
      Coded by
      <a href="https://github.com/Sirneij/torre" style="margin-left: 1rem"
        >Sirneij</a
      >
      Source on
      <a href="https://github.com/Sirneij/torre" style="margin-left: 1rem"
        >github</a
      >
    </div>

    <div class="wrapper">
      <a href="#">Privacy policy</a>
      <a href="#">Terms and conditions</a>
    </div>
  </div>
</footer>
