<footer>
  <div class="footer-copyright">
    <div class="copyright">
      <p>
        &copy; copyright
        <script type="text/JavaScript">
          document.write(new Date().getFullYear())
        </script>
        <a href="https://github.com/Sirneij/">Sirneij</a>. Code on
        <a href="https://github.com/Sirneij/torre">github</a>
      </p>
    </div>

    <div class="wrapper">
      <a href="#">Privacy policy</a>
      <a href="#">Terms and conditions</a>
    </div>
  </div>
</footer>
